logs
builds
*.log
nextBuildNumber
lastStable
lastSuccessful
workspace
plugins
*.bak
secret.key*
secrets
userContent
.bash_history
.cache
.gitignore*
.java
.owner
.ssh
checkoutConfiguration
*.enc
queue.xml
scm-sync-configuration
updates
.idea

