<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>10</daysToKeep>
    <numToKeep>30</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://github.com/sydvicious/mozplatformqa-jenkins.git</url>
        <credentialsId>337b81f4-cb01-4443-a97f-d11e9457957f</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>win32 &amp;&amp; mse &amp;&amp; win</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>trigger-firefox-aurora-win32, trigger-tests-aurora-win32</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H/3 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
    <org.jenkinsci.plugins.urltrigger.URLTrigger plugin="urltrigger@0.37">
      <spec>H * * * *</spec>
      <entries>
        <org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
          <url>http://pf-jenkins.qa.mtv2.mozilla.com:8080/job/firefox-aurora-win32/ws/releases/firefox-latest-aurora.en-US.win32.zip</url>
          <proxyActivated>false</proxyActivated>
          <checkStatus>false</checkStatus>
          <statusCode>200</statusCode>
          <timeout>300</timeout>
          <checkETag>false</checkETag>
          <checkLastModificationDate>false</checkLastModificationDate>
          <inspectingContent>false</inspectingContent>
          <contentTypes/>
        </org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
        <org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
          <url>http://pf-jenkins.qa.mtv2.mozilla.com:8080/job/tests-aurora-win32/ws/releases/firefox-latest-aurora.en-US.win32.tests.zip</url>
          <proxyActivated>false</proxyActivated>
          <checkStatus>false</checkStatus>
          <statusCode>200</statusCode>
          <timeout>300</timeout>
          <checkETag>false</checkETag>
          <checkLastModificationDate>false</checkLastModificationDate>
          <inspectingContent>false</inspectingContent>
          <contentTypes/>
        </org.jenkinsci.plugins.urltrigger.URLTriggerEntry>
      </entries>
      <labelRestriction>false</labelRestriction>
    </org.jenkinsci.plugins.urltrigger.URLTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.shiningpanda.builders.VirtualenvBuilder plugin="shiningpanda@0.21">
      <pythonName>Win-Moz-Python</pythonName>
      <home>jenkinspy</home>
      <clear>true</clear>
      <systemSitePackages>false</systemSitePackages>
      <nature>shell</nature>
      <command>c:\mozilla-build\msys\bin\bash -xe ./run-media-source-web-platform.sh http://pf-jenkins.qa.mtv2.mozilla.com:8080/job/firefox-aurora-win32/ws/releases/firefox-latest-aurora.en-US.win32.zip http://pf-jenkins.qa.mtv2.mozilla.com:8080/job/tests-aurora-win32/ws/releases/firefox-latest-aurora.en-US.win32.tests.zip win32
</command>
      <ignoreExitCode>false</ignoreExitCode>
    </jenkins.plugins.shiningpanda.builders.VirtualenvBuilder>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.39">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern>**/test.log</attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>